<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.BookMapper">

    <select id="findBooks" parameterType="map" resultType="Book">
        SELECT * FROM book
        <where>
            <if test="title != null and title != ''">
                 title like concat("%",#{title},"%")
             </if>
            <if test="press != null and press != ''">
                 and press = #{press}
             </if>
            <if test="author != null and author != ''">
                 and author = #{author}
             </if>
        </where>
        order by id desc
        limit #{start},#{bars}
    </select>

    <select id="queryCount" resultType="long" parameterType="map">
        SELECT count(*) FROM book
        <where>
            <if test="title != null and title != ''">
                title like concat("%",#{title},"%")
            </if>
            <if test="press != null and press != ''">
                and press = #{press}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
        </where>
        order by id desc
    </select>

    <delete id="delBookById" parameterType="int">
        DELETE from book WHERE id=#{id}
    </delete>

    <insert id="insertBook" parameterType="Book">
        insert into book (code,title,author,press,station,btime)
        VALUES (#{code},#{title},#{author},#{press},"在库",0)
    </insert>

    <update id="updateBook" parameterType="Book" >
        UPDATE book set title = #{title},author= #{author},press=#{press},station =#{station},btime=#{btime}
        where code = #{code}
    </update>

    <select id="findBookById" parameterType="int" resultType="Book">
        SELECT * FROM book WHERE id = #{id}
    </select>


</mapper>