<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--name is output type,like file,console -->
    <appender name="cout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>
        </encoder>
    </appender>
    <!--level is debug warn error -->
    <root level="debug">
        <appender-ref ref="cout"/>
    </root>
</configuration>
        <!--输出到文件-->
        <!--<configuration>-->
        <!--<appender name="file" class="ch.qos.logback.core.FileAppender">-->
        <!--&lt;!&ndash;日志文件地址&ndash;&gt;-->
        <!--<file>E:/log/logback.log</file>-->
        <!--&lt;!&ndash;追加模式&ndash;&gt;-->
        <!--<append>true</append>-->
        <!--<encoder>-->
        <!--<pattern>%d{MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>-->
        <!--</encoder>-->
        <!--</appender>-->
        <!--<root level="debug">-->
        <!--<appender-ref ref="file"/>-->
        <!--</root>-->
        <!--</configuration>-->


        <!--按天输出到文件-->
        <!--<configuration>-->
        <!--<property name="file" value="E:/log/logback.log"/>-->
        <!--<appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
        <!--&lt;!&ndash;日志文件地址&ndash;&gt;-->
        <!--<FileNamePattern>${file}/%d{yyyy-MM-dd}.log</FileNamePattern>-->
        <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
        <!--<MaxHistory>30</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
        <!--<pattern>%d{MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>-->
        <!--</encoder>-->
        <!--</appender>-->
        <!--<encoder>-->
        <!--<pattern>%d{MM-dd HH:mm:ss SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>-->
        <!--</encoder>-->
        <!--<root level="debug">-->
        <!--<appender-ref ref="rolling"/>-->
        <!--</root>-->
        <!--</configuration>-->

