<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.qteng.pojo.Admin"  alias="Admin"/>
        <typeAlias type="com.qteng.pojo.Book"   alias="Book"/>
        <typeAlias type="com.qteng.pojo.Card"   alias="Card"/>
        <typeAlias type="com.qteng.pojo.Record" alias="Record"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///library"/>
                <property name="username" value="root"/>
                <property name="password" value="lky86"/>
            </dataSource>
        </environment>
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///library"/>
                <property name="username" value="root"/>
                <property name="password" value="lky86"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 加载mapper文件 -->
    <mappers>
        <mapper resource="mapper/AdminMapper.xml"/>
    </mappers>

</configuration>