<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.SaleFileMapper">

    <select id="findSaleFileByParams" parameterType="map" resultType="SaleFile">
        SELECT * from t_salefile
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="saleid != null and saleid != ''">
                and saleid = #{saleid}
            </if>
        </where>
    </select>

    <insert id="addNewFile" parameterType="SaleFile">
        insert into t_salefile
        (filename, savename, contenttype, createtime, size, saleid)
        VALUES (#{filename},#{savename},#{contenttype},#{createtime},#{size},#{saleid})
    </insert>

    <delete id="deleteSaleFiles" parameterType="list">
        DELETE FROM t_salefile WHERE id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>



</mapper>