<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.SaleRecordMapper">

    <insert id="addSaleRecord" parameterType="SaleRecord" useGeneratedKeys="true" keyProperty="id">
        insert into t_salerecord
        (salename, price, createtime, process, userid, customerid, realname, customer,lasttime)
        VALUES (#{salename},#{price},#{createtime},#{process},#{userid},#{customerid},#{realname},#{customer},#{lasttime})
    </insert>
    <update id="updateSaleRecord">
        update t_salerecord
        <set>
            <if test="process != null and process != ''">
                process = #{process},
            </if>
            <if test="lasttime != null and lasttime != ''">
                lasttime = #{lasttime},
            </if>
            <if test="successtime != null and successtime != ''">
                successtime = #{successtime},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteSaleRecord" parameterType="int">
        DELETE  FROM t_salerecord WHERE id = #{id}
    </delete>

    <select id="querySaleRecord" parameterType="map" resultType="SaleRecord">
        SELECT t_salerecord.* FROM t_salerecord
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="customerid != null and customerid != ''">
                and customerid = #{customerid}
            </if>
            <if test="userid != null and userid != ''">
               and userid = #{userid}
            </if>
            <if test="keyword != null and keyword != ''">
                and (salename like concat("%",#{keyword},"%") or
                  process like concat("%",#{keyword},"%") or
                  customer like concat("%",#{keyword},"%"))
            </if>

            <if test="salename != null and salename != ''">
                 and  salename like concat("%",#{salename},"%")
            </if>
            <if test="proce != null and proce != ''">
                and  process = #{proce}
            </if>
            <if test="starts != null and starts != '' and ends != null and ends != ''">
                and  (createtime BETWEEN  #{starts} and #{ends})
            </if>
        </where>
        <if test="start != null and start != '' and length != null and length != ''">
            limit ${start} , ${length}
        </if>
    </select>


    <select id="querySaleRecordNumByParams" parameterType="map" resultType="Long">
        SELECT count(*)
        FROM t_salerecord
        <where>
            <if test="id != null and id != ''">
                id = #{id}
            </if>
            <if test="userid != null and userid != ''">
                userid = #{userid}
            </if>
            <if test="keyword != null and keyword != ''">
                and (salename like concat("%",#{keyword},"%") or
                process like concat("%",#{keyword},"%") or
                customer like concat("%",#{keyword},"%"))
            </if>
        </where>
    </select>

    <select id="countProcessNum" parameterType="map" resultType="Map">
        SELECT   temp.saletype as 'name',
        (SELECT count(*) from t_salerecord WHERE t_salerecord.process = temp.saletype
        <if test="start != null and start != '' and end != null and end != ''">
            and createtime >= #{start} and  createtime &lt;= #{end}
        </if>
        <if test="userid != null and userid != ''">
            and userid = #{userid}
        </if>
        ) as 'value'
        from
          (SELECT '初次接触' as 'saletype'
          union select '确认意向'
          union select '提供合同'
          union select '完成交易'
          union select '交易搁置') as temp
    </select>

    <select id="countEmployeeSale" parameterType="map" resultType="Map">
        SELECT users.realname ,
        (select ifnull(sum(price) , 0) FROM  t_salerecord
        WHERE users.id = t_salerecord.userid
        <if test="start != null and start != '' and end != null and end != ''">
            and successtime >= #{start} and  successtime &lt;= #{end}
        </if>
        <if test="userid != null and userid != ''">
            and userid = #{userid}
        </if>
        ) as 'amount'
        FROM (SELECT id, realname FROM t_user) as users
    </select>

    <select id="countCustomSale" parameterType="map" resultType="Map">
        select t_custom.customer as 'customer', ifnull(sum(price),0) as 'total'
        from t_salerecord RIGHT JOIN t_custom
        on t_salerecord.customerid = t_custom.id
         <where>
             <if test="start != null and start != '' and end != null and end != ''">
                successtime >= #{start} and  successtime &lt;= #{end}
             </if>
             <if test="userid != null and userid != ''">
                 and t_salerecord.userid = #{userid}
             </if>
             <if test="process != null and process != ''">
                and process = #{process}
            </if>
         </where>
         GROUP BY customer
    </select>


    <select id="countSaleRecordNum" parameterType="map" resultType="Long">
        SELECT count(*) FROM t_salerecord
        <where>
            <if test="start != null and start != '' and end != null and end != ''">
                successtime >= #{start} and  successtime &lt;= #{end}
            </if>
            <if test="userid != null and userid != ''">
                and userid = #{userid}
            </if>
            <if test="process != null and process != ''">
                and process = #{process}
            </if>
        </where>
    </select>

    <select id="countSaleTotal" parameterType="map" resultType="Float">
        SELECT sum(price) FROM t_salerecord
        <where>
            <if test="start != null and start != '' and end != null and end != ''">
                successtime between #{start} and  #{end}
            </if>
            <if test="userid != null and userid != ''">
                and userid = #{userid}
            </if>
            <if test="process != null and process != ''">
                and process = #{process}
            </if>
        </where>
    </select>



</mapper>