<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.UserMapper">


    <select id="queryUser" resultType="User" parameterType="User">
        SELECT t_user.*,t_role.rolename as 'role.rolename' FROM
        t_user left JOIN t_role ON t_user.roleid = t_role.id
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="id != null and id != ''">
               and t_user.id = #{id}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="User">
        INSERT INTO  t_user (username,password,realname,createtime,weixin,roleid)
        VALUES (#{username},#{password},#{realname},#{createtime},#{weixin},#{roleid})
    </insert>

    <update id="updateUserInfo" parameterType="User">
        UPDATE t_user
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="realname != null and realname !=''">
                realname = #{realname},
            </if>
            <if test="weixin != null and weixin !=''">
                weixin = #{weixin},
            </if>
            <if test="roleid != null and roleid !=''">
                roleid = #{roleid},
            </if>
            <if test="enable != null and enable !=''">
                enable = #{enable},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="queryFilterUserNum" resultType="long" parameterType="map">
        SELECT count(*) FROM t_user
        <where>
            <if test="roleid != null and roleid != ''">
                roleid = #{roleid}
            </if>
            <if test="username != null and username != ''">
               and username LIKE concat("%",#{username},"%")
            </if>
            <if test="realname != null and realname != ''">
               and realname LIKE concat("%",#{realname},"%")
            </if>
        </where>
    </select>

    <select id="queryUserInformation" resultType="User" parameterType="map">
        SELECT t_user.*,t_role.rolename as 'role.rolename' FROM
        t_user left JOIN t_role ON t_user.roleid = t_role.id
        <where>
            <if test="roleid != null and roleid != ''">
                roleid = #{roleid}
            </if>
            <if test="username != null and username != ''">
               and username LIKE concat("%",#{username},"%")
            </if>
            <if test="realname != null and realname != ''">
               and realname LIKE concat("%",#{realname},"%")
            </if>
        </where>
        <if test="sortColumn != null and sortColumn != '' and sortType!= null and sortType != '' ">
            ORDER by ${sortColumn}  ${sortType}
        </if>
        limit #{start},#{length}
    </select>

</mapper>